body{
  text-align:center;
}
.btn{
  border:solid 3px white;
  width:100px;
  height:100px;
  display:inline;
  font-size:30px;
  color:#66ffff;
  background-color:#000000;
}
h1{
 font-size:50px;
 font-family:Times New Roman;
}